<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Soundscapes</title>
    <meta name="description" content="An easy way to visualize your Spotify listening data over time.">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="https://i.imgur.com/mp8KZ7W.png">

    <!-- === Scripts === -->
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
    <!-- Spotify API Logic -->
    <script src="../scripts/apiStuff.js" defer></script>
    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- === Styles === -->
    <link rel="stylesheet" href="../styles/soundscape.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">


</head>

<body>

    <!-- <nav>
        <h2>Soundscapes</h2>
        <h5>Menu</h5>
    </nav> -->

    <main>

        <div class="time">
            <h4 class="time-button-title">Time Range</h4>
            <div class="time-buttons">
                <button class="button" id="recent" onClick="window.location.reload(); recentData()">One Month</button>
                <button class="button" id="default" onClick="window.location.reload(); defaultData()">Six Months</button>
                <button class="button" id="long-term" onClick="window.location.reload(); longTermData()">All Data</button>
            </div>
        </div>


        <h4 class="chart-title">Your Top Genres</h4>
        <div class="chart-container">
            <canvas id="genreChart"></canvas>
        </div>


        <section class="top-lists">

            <article class="top-container">
                <h4>Your Top Artists</h4>
                <ul class="top-artists">

                    <!-- Generate top artists -->
                    <% for (let i = 0; i < 10; i++) { %> 

                        <% i >= 5 ? extended = "extended-artists" : extended = "" %> 

                        <li class="<%= extended %>" id="artist-li-<%= i %>">
                            <a 
                                class="fa-solid fa-play num-play" 
                                id="artist-play-<%= i %>" 
                                target="_blank" 
                                rel="noopener noreferrer" 
                                title="Play Artist on Spotify">
                                <span class="tooltip" id="artist-play-tip-<%= i %>"></span>
                            </a>
                            <span class="li-number"><%= i + 1 %></span>
                            <img class="li-image" id="artist-image-<%= i %>">
                            <p class="li-text">
                                <a 
                                    class="li-name" 
                                    id="artist-name-<%= i %>" 
                                    title="Go to Artist on Spotify"
                                    target="_blank" 
                                    rel="noopener noreferrer">
                                </a>
                            </p>
                            <div class="li-popularity" id="artist-popularity-<%= i %>">
                                <span class="popularity highlighted"></span>
                                <span class="popularity dimmed"></span>
                            </div>
                        </li>
                    <% } %> 

                </ul>
                <span class="see-more-button see-more-artists">SEE MORE</span>
            </article>

            <article class="top-container">
                <h4>Your Top Songs</h4>
                <ul class="top-songs">

                    <!-- Top Songs Legend -->
                    <li class="list-legend">
                        <span class="hashtag">#</span>
                        <span class="legend-title">TITLE</span>
                        <span class="legend-popularity">POPULARITY</span>
                        <svg role="img" height="16" width="16" aria-hidden="true" viewBox="0 0 16 16" class="Svg-sc-ytk21e-0 uPxdw">
                            <path fill="rgb(179, 179, 179)" d="M8 1.5a6.5 6.5 0 100 13 6.5 6.5 0 000-13zM0 8a8 8 0 1116 0A8 8 0 010 8z"></path>
                            <path fill="rgb(179, 179, 179)" d="M8 3.25a.75.75 0 01.75.75v3.25H11a.75.75 0 010 1.5H7.25V4A.75.75 0 018 3.25z"></path>
                        </svg>
                    </li>

                    <!-- Generate top songs -->
                    <% for (let i = 0; i < 10; i++) { %> 

                        <% i >= 5 ? extended = "extended-songs" : extended = "" %> 

                        <li class="<%= extended %>" id="song-li-<%= i %>">
                            <span class="li-number"><%= i + 1 %></span>
                            <a 
                                class="fa-solid fa-play num-play" 
                                id="song-play-<%= i %>" 
                                target="_blank" 
                                rel="noopener noreferrer" 
                                title="Play Song on Spotify">
                                <span class="tooltip" id="song-play-tip-<%= i %>"></span>
                            </a>
                            <a 
                                class="li-image" 
                                id="album-link-<%= i %>" 
                                target="_blank" 
                                rel="noopener noreferrer" 
                                title="Go to Album on Spotify"
                            >
                                <img class="li-image" id="song-image-<%= i %>">
                            </a>
                            <p class="li-text">
                                <a 
                                    class="li-name" 
                                    id="song-name-<%= i %>" 
                                    target="_blank" 
                                    rel="noopener noreferrer" 
                                    title="Go to Song & Lyrics on Spotify">
                                </a>
                                <a 
                                    class="list-subtext" 
                                    id="song-artist-<%= i %>" 
                                    target="_blank" 
                                    rel="noopener noreferrer" 
                                    title="Go to Artist on Spotify">
                                </a>
                            </p>
                            <div class="li-popularity" id="song-popularity-<%= i %>">
                                <span class="popularity highlighted"></span>
                                <span class="popularity dimmed"></span>
                            </div>
                            <span class="duration" id="song-duration-<%= i %>"></span>
                        </li>
                    <% } %> 

                </ul>
                <span class="see-more-button see-more-songs">SEE MORE</span>
            </article>
        </section>

        <h4>Your Ratings</h4>
        <section class="all-ratings">
            <% const ratingNames = ['danceability', 'mode', 'popularity', 'valence', 'tempo', 'energy'] %> 
            <% for (let i = 0; i < ratingNames.length; i++) { %> 
                <article class="rating-container">
                    <canvas id="<%= ratingNames[i] %>" class="rating-canvas"></canvas>
                    <div class="circle">
                        <p id="<%= ratingNames[i] %>-number" class="rating-number"></p>
                        <p id="<%= ratingNames[i] %>-title" class="rating-title"></p>
                    </div>
                </article>
            <% } %> 

            <!-- <article class="rating-container">
                <canvas id="danceability" class="rating-canvas"></canvas>
                <div class="circle">
                    <p id="danceability-number" class="rating-number"></p>
                    <p id="danceability-title" class="rating-title"></p>
                </div>
            </article>

            <article class="rating-container">
                <canvas id="mode" class="rating-canvas"></canvas>
                <div class="circle">
                    <p id="mode-number" class="rating-number"></p>
                    <p id="mode-title" class="rating-title"></p>
                </div>
            </article>

            <article class="rating-container">
                <canvas id="popularity" class="rating-canvas"></canvas>
                <div class="circle">
                    <p id="popularity-number" class="rating-number"></p>
                    <p id="popularity-title" class="rating-title"></p>
                </div>
            </article> -->
        </section>

        <!-- NOTE features testing in progress below -->

        <section class="recs-container">
            <h4>Your Top Recommendations</h4>

            <ul>
                <% for (let i = 0; i < 5; i++) { %>
                    <li id="rec-li-<%= i %>">
                        <a 
                            class="fa-solid fa-play num-play" 
                            id="rec-play-<%= i %>" 
                            target="_blank" 
                            rel="noopener noreferrer" 
                            title="Play Song on Spotify">
                            <span class="tooltip" id="rec-play-tip-<%= i %>"></span>
                        </a>
                        <span class="li-number"><%= i + 1 %></span>
                        <img class="li-image" id="rec-image-<%= i %>">
                        <p class="li-text">
                            <a 
                                class="li-name" 
                                id="rec-name-<%= i %>" 
                                title="Go to Song & Lyrics on Spotify"
                                target="_blank" 
                                rel="noopener noreferrer">
                            </a>
                            <a 
                                class="list-subtext" 
                                id="rec-artist-<%= i %>" 
                                target="_blank" 
                                rel="noopener noreferrer" 
                                title="Go to Artist on Spotify">
                            </a>
                        </p>
                        <div class="li-popularity" id="rec-popularity-<%= i %>">
                            <span class="popularity highlighted"></span>
                            <span class="popularity dimmed"></span>
                        </div>
                        <span class="duration" id="rec-duration-<%= i %>"></span>
                    </li>
                <% } %> 
            </ul>
            <button id="rec-refresh">Refresh</button>
        </section>

        <h4 class="filter-title">Recommendation Filters</h4>

        <!-- Filters are created without EJS functionality due to the abundance of specific requirements in sliders -->
        <form class="filters-container">
            
            <div class="filter-option">
                <div class="slider-title-container">
                    <p class="slider-title">Popularity</p>
                    <i class="fa-solid fa-circle-info"></i>
                    <span class="tooltip">
                        Popularity is calculated by algorithm and is based, in the most part, on the total number of plays the track has had and how recent those plays are.
                    </span>
                </div>
                <div class="slider-container">
                    <div class="toggle-container">
                        <input type="checkbox" class="checkbox" id="popularity-check">
                        <label for="popularity-check"></label>
                        <div class="unselected"></div>
                    </div>
                    <input type="range" class="slider" id="popularity-slider">
                    <input type="number" class="slider-value" value="50"></input>
                </div>
            </div>

            <div class="filter-option">
                <div class="slider-title-container">
                    <p class="slider-title">Danceability</p>
                    <i class="fa-solid fa-circle-info"></i>
                    <span class="tooltip">
                        Danceability describes how suitable a track is for dancing based on a combination of musical elements including tempo, rhythm stability, beat strength, and overall regularity.
                    </span>
                </div>
                <div class="slider-container">
                    <div class="toggle-container">
                        <input type="checkbox" class="checkbox" id="danceability-check">
                        <label for="danceability-check"></label>
                        <div class="unselected"></div>
                    </div>
                    <input type="range" class="slider" id="danceability-slider">
                    <input type="number" class="slider-value" value="50"></input>
                </div>
            </div>

            <div class="filter-option">
                <div class="slider-title-container">
                    <p class="slider-title">Valence</p>
                    <i class="fa-solid fa-circle-info"></i>
                    <span class="tooltip">
                        Valence describes the musical positiveness conveyed by a track. Tracks with high valence sound more positive (e.g. happy, cheerful, euphoric), while tracks with low valence sound more negative (e.g. sad, depressed, angry).
                    </span>
                </div>
                <div class="slider-container">
                    <div class="toggle-container">
                        <input type="checkbox" class="checkbox" id="valence-check">
                        <label for="valence-check"></label>
                        <div class="unselected"></div>
                    </div>
                    <input type="range" min="0" max="1" step=".01" class="slider" id="valence-slider">
                    <input type="number" class="slider-value" value="50"></input>
                </div>
            </div>

            <div class="filter-option">
                <div class="slider-title-container">
                    <p class="slider-title">Tempo</p>
                    <i class="fa-solid fa-circle-info"></i>
                    <span class="tooltip">
                        The overall estimated tempo of a track in beats per minute (BPM). In musical terminology, tempo is the speed or pace of a given piece and derives directly from the average beat duration.
                    </span>
                </div>
                <div class="slider-container">
                    <div class="toggle-container">
                        <input type="checkbox" class="checkbox" id="tempo-check">
                        <label for="tempo-check"></label>
                        <div class="unselected"></div>
                    </div>
                    <input type="range" min="40" max="200" class="slider" id="tempo-slider">
                    <input type="number" class="slider-value" value="120"></input>
                </div>
            </div>

            <div class="filter-option">
                <div class="slider-title-container">
                    <p class="slider-title">Energy</p>
                    <i class="fa-solid fa-circle-info"></i>
                    <span class="tooltip">
                        Energy represents intensity and activity. Typically, energetic tracks feel fast, loud, and noisy. Perceptual features contributing to this attribute include dynamic range, perceived loudness, timbre, onset rate, and general entropy.
                    </span>
                </div>
                <div class="slider-container">
                    <div class="toggle-container">
                        <input type="checkbox" class="checkbox" id="energy-check">
                        <label for="energy-check"></label>
                        <div class="unselected"></div>
                    </div>
                    <input type="range" min="0" max="1" step=".01" class="slider" id="energy-slider">
                    <input type="number" class="slider-value" value="50"></input>
                </div>
            </div>

            <div class="filter-option">
                <div class="slider-title-container">
                    <p class="slider-title">Mode</p>
                    <i class="fa-solid fa-circle-info"></i>
                    <span class="tooltip">
                        Mode indicates the modality (major or minor) of a track, the type of scale from which its melodic content is derived. Major is represented by 1 and minor is 0.
                    </span>
                </div>
                <div class="slider-container">
                    <div class="toggle-container">
                        <input type="checkbox" class="checkbox" id="mode-check">
                        <label for="mode-check"></label>
                        <div class="unselected"></div>
                    </div>
                    <input type="range" min="0" max="1" class="slider" id="mode-slider">
                    <span class="slider-value">1</span>
                </div>
            </div>
        </form>


        <!-- <h4 class="chart-title">Your Top Artists</h4>
        <div class="chart-container" id="bar-container">
            <canvas id="artistSongsChart" style="height: 650px;"></canvas>
        </div> -->


        <!-- <button id="obtain-new-token">New Token</button> -->
    </main>
</body>
</html>